################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Bug Hunt multiplayer server (run locally, not part of the static app)
/server/
