################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Bug Hunt multiplayer server: ship the code, but never the secrets/build cruft.
/server/cert.pem
/server/key.pem
/server/__pycache__/
